<a href="https://colab.research.google.com/github/vincentdavis/zwift_maps/blob/main/zwift_multi_id_event_mapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use this to map an event recorded at dashboard.vyrtyfy.com with multiple riders**

In [5]:
!rm -r zwift_maps
!git clone https://github.com/vincentdavis/zwift_maps.git

Cloning into 'zwift_maps'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 18 (delta 2), reused 5 (delta 1), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [57]:
from datetime import datetime
import json
import pandas as pd
import numpy as np

def world_time_to_timestamp(world_time):
    return datetime.fromtimestamp((int(world_time) + 1414016075000) / 1000.0)

def multiple_id_event(json_path, start_time):
  """
  You need to look up the event start time in GMT, UTC.
  This start tiem is used to filter the data. IT is possible the rider,
  never start the event or quits and rider somewhere else, we need to filter these.
  """
  with open(json_path) as j:
    data = json.load(j)
  row_list = []
  for id, id_data in data.items():
    if id_data is not None:
          for row in id_data.values():
            row.update({'id':id})
            row_list.append(row)
  df = pd.DataFrame(row_list)
  df['worldTime'] = df.worldTime.astype(int)
  df['irlTime'] = pd.to_datetime(df['worldTime'], unit='ms') + pd.Timedelta(seconds = (1414016075))
  start_time = datetime.strptime('2021-01-21 19:40', '%Y-%m-%d %H:%M')
  # event_start_time = np.datetime64(start_time)

  # Filters
  df = df[df.irlTime >= event_start_time]
  df = df[df.speed.notnull()]

  df.sort_values(by=['irlTime'], inplace=True)
  df = df.reset_index(drop=True)
  df['-y'] = -df.y
  df = df[['id', 'distance', 'heading', 'heartrate', 'power', 'progress', 'roadTime', 'speed', 'time', 'timestamp', 'worldTime', 'irlTime', 'x', 'y', 'groupId', 'laps']]
  return df

# Tick Tock course:
data_file = 'zwift_maps/event_records/Tick_Tock-2laps-event-1550562.json'
start_time = datetime.strptime('2021-01-21 19:40', '%Y-%m-%d %H:%M')

df = multiple_id_event(data_file, start_time)

In [ ]:
# Tick Tock course:
data_file = 'zwift_maps/event_records/Tick_Tock-2laps-event-1550562.json'
start_time = datetime.strptime('2021-01-21 19:40', '%Y-%m-%d %H:%M')

df = multiple_id_event(data_file, start_time)

In [58]:
df

            id  distance   heading  ...           y    groupId  laps
0        16793   10629.0  -2568313  ...  289427.200        NaN   NaN
1       590563    6993.0   7265719  ...  -53446.625        NaN   NaN
2      1219352    7460.0   3926110  ...  -26020.191        NaN   NaN
3      1327350   36288.0   3811470  ... -126080.850  1954694.0   NaN
4       817471    5608.0    420206  ...  205504.230        NaN   NaN
...        ...       ...       ...  ...         ...        ...   ...
58816   200957   40344.0  -1981268  ...  502136.620        NaN   2.0
58817   817471   37683.0   2506582  ...  441306.300        NaN   2.0
58818  1172145   38429.0    548204  ...  498783.340        NaN   2.0
58819   964467   33281.0   2493844  ...  157529.640  1912410.0   1.0
58820   736010   35508.0   1229146  ...  262893.470  1912410.0   1.0

[58821 rows x 16 columns]